////
/// accordion.scss
/// @author Ash Whiting
////


.accordion-container {

	position: relative;
	height: auto;

	h2 {
		padding-bottom: 5px;
		margin-bottom: 30px;
		border-bottom: 1px solid #ddd;
	}

	.set {

		position: relative;
		width: 100%;
		height: auto;
		margin-bottom:8px;

		h2,
		h3 {
			margin:0;
			padding:0;
		}

		a {
			display: block;
			padding: 10px 15px;
			padding-right:40px;
			text-decoration: none;
			color: $dark-blue;
			font-weight: 600;
			border-bottom:2px solid $light-blue;
			transition:all 0.2s ease;
			font-weight:500;

			i {
				position: absolute;
    			right: 10px;
    			top: 13px;
				color: $dark-blue;
				transition:all 0.5s ease;
			}

			&.active {

				color: $dark-blue;


				i {
					transform: rotate(45deg);
					color: $dark-blue;
				}
			}
		}

		.empty {
			display: block;
			padding: 10px 15px;
			text-decoration: none;
			color: #555;
			font-weight: 600;
			border-bottom:2px solid white;
			transition:all 0.2s ease;
			font-weight:500;
			padding-right:40px;
		}
	}

	.content{
		position:relative;
		width: 100%;
		height: auto;
		background-color: #fff;
		display:none;
		padding:30px;

		h2,h3,h4,h5 {
			margin-top:30px;
		}

		a {
			color:white;
			font-weight:500;

			&:hover {
				color:white;
			}
		}
	}
}
